<div class="container mx-auto h-full" style="padding-top: 30vh">
  <div class="grid md:grid-cols-2 grid-cols-1">
    <div class="order-first md:order-last">
      <div>3d home model will go here</div>
    </div>
    <div appIntersectionObserver class="hidden-div">
      <div>
        <h3>Contact works!</h3>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        culpa quaerat iusto aspernatur error ipsa dolor suscipit tenetur! Illum
        eligendi rem iure sit facere magni omnis dolorum iusto reprehenderit et.
      </p>
    </div>
  </div>
</div>
