<div class="w-screen py-10 fixed z-10">
  <app-navbar></app-navbar>
</div>

<div class="content-container fixed">
  <!-- home component -->
  <div class="content-section" id="home">
    <app-home></app-home>
  </div>
  <!-- service component -->
  <div class="content-section relative" id="services">
    <app-services></app-services>
  </div>

  <!-- portfolio component -->
  <div class="content-section" id="portfolio">
    <app-portfolio></app-portfolio>
  </div>
  <!-- about component -->
  <div class="content-section" id="about">
    <app-about></app-about>
  </div>
  <!-- contact component -->
  <div class="content-section" id="contact">
    <app-contact></app-contact>
  </div>
</div>

<!-- <div *ngIf="currentSectionIndex == 1">
  <app-service-sidebar></app-service-sidebar>
</div> -->

<div class="w-screen py-10 fixed bottom-0 z-10">
  <app-footer></app-footer>
</div>
