<div class="container mx-auto h-full" style="padding-top: 30vh">
  <div class="grid md:grid-cols-2 grid-cols-1">
    <div class="order-first md:order-last">
      <div>3d home model will go here</div>
    </div>
    <div
      appIntersectionObserver
      class="hidden-div"
      style="display: flex; gap: 0.5rem; flex-direction: column"
    >
      <h1 class="title text-primary">Our Services</h1>
      <h3 class="sub-title">Web development</h3>
      <p>
        In this fast-paced world of business, let us help you optimize your
        operations, reduce manual tasks, and boost productivity with our
        Business Automation services. From workflow automation to CRM systems,
        our solutions are tailored to streamline your processes and enhance your
        bottom line. Embrace the future of business with Woohio Business
        Automation.
      </p>
    </div>
  </div>
</div>
