@tailwind base;
@tailwind components;
@tailwind utilities;
/* style.css */
.title {
  font-family: Inter;
  font-size: 60px;
  font-weight: 700;
  line-height: 72.61px;
  text-align: left;
  color: rgba(32, 132, 210, 1);
}
.sub-title {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.41px;
  text-align: left;
  color: rgba(82, 82, 82, 1);
}
p {
  color: rgba(82, 82, 82, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}
div {
  color: black;
}
.content-container {
  position: absolute;
  top: 10%; /* Adjust as needed */
  bottom: 10%; /* Adjust as needed */
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.content-section {
  height: 100vh; /* Full viewport height */
  /* transition: all 0.2s ease-in-out; */
  opacity: 1;
}

.hidden-div {
  opacity: 0;
  transform: translateX(-15%);
  transition: all 0.5s ease-in-out;
}
.hidden-div h3 {
  transform: translateX(5%);
  transition: all 0.5s ease-in-out 1s;
}

.show {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
.show h3 {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
.fade-in {
  opacity: 1;
  transform: translateX(0%);
  transition: all 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transform: translateX(-15%);
  transition: all 0.5s ease-in-out;
}
.fade-out h3 {
  transform: translateX(5%);
  transition: all 0.5s ease-in-out;
}
